@font-face {
  font-family: "splatoon1jpja";
  src: local("splatoon1jpja"),
    url(assets/fonts/splatoon1jpja.woff2) format("woff2");
}

@font-face {
  font-family: "splatoon2jpja";
  src: local("splatoon2jpja"),
    url(@/assets/fonts/splatoon2jpja.woff2) format("woff2");
}

:root {
  --font-family-s1: splatoon1, splatoon1jpja;
  --font-family-s2: splatoon2, splatoon2jpja;
  --content-max-width: 768px;
  --content-min-width: 375px;
  --color-yellow: #eaff3e;
  --color-blue: #603aff;
  --color-orange: #ff9650;
  --color-red: #ff575c;
  --color-pink: #f02d7d;
  --color-purple: #a64cf2;
  --color-green: #6af6cd;
  --color-background: #292e35;
  --color-background-darker: #1e1e1e;
  --color-hero: #46fb28;
  --color-gesotown: #e1fd4b;
  --color-regular: var(--color-yellow);
  --color-bankara: #f54910;
  --color-xmatch: #0fdb9b;
  --color-league: #f02d7d;
  --color-private: #a51ee1;
  --color-coop: #ff5033;
  --color-salmon-orange: #df4b33;
  --color-salmon-orange-darker: #aa3f2f;
  --color-salmon-green: #00f82d;
}

.num::before {
  content: "x";
  padding-right: 2px;
}
